# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/

# Swap and log files
*.swp
*.swo
*.log

# macOS and Jupyter metadata
.DS_Store
*.ipynb_checkpoints

# Local development data (ignore unless required in prod)
data/

# Cache folders
llm_report/__pycache__/
app/__pycache__/

# ✅ KEEP model files – explicitly include your saved .h5 model
!ann_model/saved_model/model_ann.h5
